In [1]:
# 1. What is the length of the salaries list.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
length=len(salaries)
length

7

In [2]:
# 2. Retrieve the third salary in the list by using index.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
third_salary=salaries[2]
print("the third-salary is",third_salary)

the third-salary is 50k

In [3]:
# 3. Extract the last salary from the list by using a negative index.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
negative_index=salaries[-1]
negative_index

'40k'

In [4]:
# 4. Slice the salaries list to get only the middle three salaries
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
slice_method=salaries[2:5]
slice_method

['50k', '60k', '35k']

In [35]:
# 5. Add a new salary to the list, ‘100k’ by using append() method.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.append("100k")
print("new updated salary by using append methid is",salaries)

new updated salary by using append methid is ['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [41]:
# 5. Add a new salary to the list, ‘120k’ without method.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries+=["120k"]
print("new updated salary is",salaries)

new updated salary is ['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

In [49]:
# 6. Replace the third salary in the list with '55k' and print the updated list.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries[2] =("55k")
print("updated salary is",salaries)

updated salary is ['20k', '40k', '55k', '60k', '35k', '89k', '40k']

In [53]:
# 7. Count how many times '40k' appears in the list.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salary_count=salaries.count('40k')
print("40k appears",salary_count,"times")

40k appears 2 times

In [59]:
# 8. Insert a new salary at the second position.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.insert(2,"50k")
print("insert the new salary is",salaries)

insert the new salary is ['20k', '40k', '50k', '50k', '60k', '35k', '89k', '40k']

In [61]:
# 9. Reverse the order of the salaries list with method
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries.reverse()
print("reverse salary is",salaries)

reverse salary is ['40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [65]:
# 10. Reverse the order of the salaries list without method.
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
reverse_salary=salaries[::-1]
print("the reverse salary is",reverse_salary)

the reverse salary is ['40k', '89k', '35k', '60k', '50k', '40k', '20k']